.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.Product h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.Product p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.Product h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Product button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

